#!/usr/bin/make -f

#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export PERL := perl
export RUBY := ruby

PERL_ARCHLIB := $(shell perl -MConfig -e 'print $$Config{vendorarch}')

%:
	dh $@ --with ruby

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-release \
		--without-python \
		--with-perl-makemaker-args="INSTALLDIRS=vendor" \

override_dh_auto_build:
	dh_auto_build -Dperl
	dh_auto_build -Druby

override_dh_auto_clean:
	dh_auto_clean -Dperl
	dh_auto_clean -Druby
	dh_auto_clean

override_dh_auto_install:
	dh_auto_install -Dperl
	mkdir -p $(CURDIR)/debian/tmp/usr/share/perl5
	mv $(CURDIR)/debian/tmp$(PERL_ARCHLIB)/RDF $(CURDIR)/debian/tmp/usr/share/perl5/RDF

	dh_auto_install -Druby
